/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
  /* --primaryColor: #444444;
  --secondaryColor: #ffdd67;
  --tertiaryColor: rgb(83, 89, 69); */
  --rainbow: linear-gradient(-45deg, red, orange, yellow, green, blue, indigo, violet);
  --primaryColor: #2a7e90;
  --secondaryColor: #165120;
  --tertiaryColor: #031138;
  --quaternaryColor: #013c40;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 25rem;
  border-radius: 4%;
}

ul {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  display: flex;
}

ul li {
  position: absolute;
  list-style: none;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: var(--secondaryColor);
  border-radius: 50%;
  box-shadow: 1rem 2rem 0 var(--secondaryColor), -1rem -2rem 0 var(--secondaryColor);
  animation: animate 1s linear infinite;
}

ul li:nth-child(1) {
  animation-delay: .2s;
}

ul li:nth-child(2) {
  animation-delay: .4s;
}

ul li:nth-child(3) {
  animation-delay: .6s;
}

ul li:nth-child(4) {
  animation-delay: .8s;
}

ul li:nth-child(5) {
  animation-delay: 1s;
}

@keyframes animate {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }

  50% {
    transform: translateX(0rem);
    opacity: 1;
  }

  100% {
    transform: translateX(10rem);
    opacity: 0;
  }
}